#bio-pic{
    height: 200px;
    border-radius: 85%;
    float: left;
    margin: 20px;
}
body{
 background-image: url(./files/space-624054_1280.jpg);
 background-size: 100vw 100vh;
 background-attachment: fixed;
 background-blend-mode: darken;
}
.container{
    color: rgb(212, 180, 231);
    background-color: rgba(13, 102, 51, 0.45);
    font-weight: bold;
    height: auto;
    padding: 15px;
}
.navbar{
    background-color: rgba(89, 248, 158, 0.3) !important;
}
a{
    color: rgb(91, 180, 176) !important;
    text-shadow: -1.5px 1.5px 1.15px rgb(52, 52, 151);
}
a.active{
    color: rgb(198, 175, 230) !important;
    text-shadow: -1.75px 1.75px 1.5px black;
    font-size: 115%;
}
.jumbotron{
    padding-top: 0px;
    background-color: rgba(13, 102, 51, 0.15);
    padding-bottom: 0px;
}
.lead{
    margin-left: 20vw;
    width: 45vw;
    text-align: center;
}
.quote-source{
   margin-left: 45vw;   
}
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 30px;
    border: solid 25px rgba(46, 104, 138, 0.5);
    padding: -15 -65 -15 2;
  }
.work:nth-child(even) {
    margin-right: 70px;
}
.work:nth-child(odd){
    margin-left: 60px;
}
.work img {
    width: 265px;
    height: 200px;
    border: 0 none;
    opacity: 0.9;
  }
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 120%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: rgb(17, 94, 55, 0.75);
    border-bottom: 0;
  }
  #portfolio-h2{
      margin-left: 100px;
  }
  h1{
      text-shadow: -2.25px 2px 1px black;
      font-weight: 500 !important;
  }
  h2{
      margin: 15px auto 25px 35px;
      text-shadow: -2px 2px 1px rgb(72, 17, 94);
      border-bottom: solid 3px rgb(72, 17, 94);
  }
  #bio-text{
      font-weight: 635;
      text-shadow: -1.25px 1.25px 1px rgb(73, 24, 102);
  }
  .portfolio-list{
    background-color: rgba(13, 102, 51, 0.25);
    height: 140vh;
  }
  .navbar-collapse.collapse.in {
    display: inline-block!important;
    position:absolute;
  }